.col1 {
	background-color: pink;
	color: white;
}

/*.col2 {
	background-color: blue;
	color: whitesmoke;
}

.nest1 {
	background-color: gray;
	color: whitesmoke;

}

.nest2 {
	background-color: orange;
	color: whitesmoke;
}*/